<div class="search-funcionario text-white py-3" id="search-funcionario">
    <div class="container">
        <form asp-controller="Funcionario" asp-action="Index">
            <div class="row">
                <div class="col-md-12">
                    <div class="card acik-renk-form">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group ">
                                        <div class="form-group ">
                                            <input type="text" class="form-control" placeholder="Nome" id="Nome" name="Nome">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <input type="text" class="form-control" placeholder="CPF" id="CPF" name="CPF">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <div class="form-group ">
                                            <input type="text" class="form-control" placeholder="Cargo" id="Cargo" name="Cargo">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <select id="arac-turu" class="form-control">
                                            <option selected>Trazer UF Quantitativo</option>
                                            <option>SP(15)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <div class="form-group ">
                                            <input type="text" class="form-control" placeholder="Status" id="Status" name="Status">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Range Data -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <div class="form-group ">
                                            <input type="date" class="form-control"  asp-format="{0:dd/MM/yyyy HH:mm}" placeholder="Data Inicio" id="DataInicio" name="DataInicio">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <div class="form-group ">
                                            <input type="date" class="form-control"  asp-format="{0:dd/MM/yyyy HH:mm}" placeholder="Data Fim"  id="DataFim" name="DataFim">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Range Salario -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <div class="form-group ">
                                            <input type="number" class="form-control" placeholder="Salario Inicio"  id="SalarioInicio" name="SalarioInicio">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">  
                                    <div class="form-group ">
                                        <div class="form-group ">
                                            <input type="number" class="form-control" placeholder="Salario Fim" id="SalarioFim" name="SalarioFim">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <input type="submit" class="btn btn-warning  pl-5 pr-5" value="Buscar"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
