@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>

<p>Projeto de teste para LuizaLabs. Acessar o menu de @Html.ActionLink("Funcionarios","Index","Funcionario") para interagir</p>
